
body {
    margin: 0;
    padding: 0;
    background: rgb(64, 147, 241);
    font-family: sans-serif;
}
form {
    text-align: center;
    /* display: none; */
}
#register-form{
    color: blue;
    cursor: pointer;
}

#logo {
    width: 20%;
    margin-top: 80px;
}

#login-form,
#register-form {
    width: 12%;
    font-size: 20px;
    padding: 10px;

}

#username,
#password,
#email,
#userName,
#passWord,
#comfirm-passWord {
    padding: 13px;
    width: 22%;
    font-size: 14px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    outline: none;
    /* background: rgba(163, 212, 245, 0.432); */
}


#btn_login,
#btn-cancel,
#btn-register {
    padding: 10px;
    width: 12%;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    font-weight: bold;
    background: #75be95e8;
}
#btn_login a {
    text-decoration: none;
    color: white;
}

.register {
    display: none;
}
.login h1,
.register h1 {
    color: white;
}

.save-profile {
    width: 30%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
    border-radius: 20px;
    background: rgba(243, 243, 241, 0.568);
    padding-top: 20px;
    padding: 2%;
}
.profile {
    width: 50%;
    height: 200px;
    border-radius: 100px;
    background-image: url('../image/user_girl.png');
    background-size: cover;
    margin: auto;
}

#countinuce {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
}
#countinuce {
    width: 50%;
    color: white;
    background: rgb(78, 210, 250);
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}
#chooseImage{
    margin-left: 20%;
    border: none;
}
.container {
    display: flex;
}
.menu,
.sidebar,
.main,
.start{
    height: 99vh;
    border: 1.5px solid gray;

}
.menu {
    width: 5%;
    text-align: center;
}
/* .fa-comments{
    font-size: 30px;
    color: rgb(45, 163, 241);
} */
#iconChat {
    width: 80%;
    margin-top: 15px;
}
#user{
    width: 50%;
    margin-top: 60px;
}
#message,
#star,
#mode,
#users,
#add {
    width: 50%;
    margin-top: 20px;
    
}

.sidebar {
    width: 25%;
    overflow: scroll;
}
.MyProfile,
.MyUser,
.myprofile{
    display: flex;
}
.Profile{
    width: 20%;

}
.Profile,
.user {
    height:65px;
    border-radius: 40px;
    margin: 10px 0 0 10px;
}
.user {
    width: 8%;
    border-radius: 20px;
}
#Name,
#name {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}
#search{
    padding: 10px;
    width: 82%;
    font-size: 15px;
    margin-top: 15px;
    outline: none;
    border: 1px solid gray;
    border-radius: 15px;
    margin-left: 5%;
}

.main,
.start {
    width: 70%;
    
}
.MyUser{
    justify-content: space-between;
}
.nameProfile {
    display: flex;
}
.user {
    width: 23%;
    border-radius: 40px;
}
.iconCall {
    width: 20%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
#call,
#videoCall {
    width: 22%;
}
#barIcon {
    width: 35px;
}

.spaceMessage{
    height: 75vh;
    overflow: scroll;
}

.inputMessage {
    display: flex;
    justify-content: space-around;
}

#sticker,
#vioce,
#photo {
    width: 3%;
}
#writeMessage {
    width: 70%;
    padding: 10px;
    border: 1.5px solid gray;
    border-radius: 10px;
    outline: none;
    
}
#bold{
    font-size: 14px;
    font-weight: bold;
}
#italic{
    font-size: 14px;
    font-style: italic;
}
#underline {
    font-size: 14px;
    text-decoration: underline;
}
#Send {
    width: 7%;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(83, 173, 224);
    border-radius: 8px;
    border: none;
    outline: none;
}

.myMessage{
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    outline: none;
}
.FriMessage {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;

}
.FriMessage p{
    background: rgb(122, 215, 238);
    padding: 15px;
    border-radius: 10px;
}
.myMessage p{
    background: orange;
    padding: 15px;
    border-radius: 10px;
}
.start {
    display: none;
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/21/59/hot-air-balloon-736879_960_720.jpg');
    background-size: cover;
}
#start {
    width: 30%;
    font-size: 22px;
    background: rgba(199, 198, 198, 0.555);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 40vh;
}

/* .myprofile {
    overflow: scroll;
    background: black;
} */
#userPass,
#image {
    display: none;
}

.showImoji span{
    cursor: pointer;
}
.showImoji {
    height: 40vh;
    background: rgba(0, 0, 0, 0.329);
    overflow: scroll;
    display: none;
    padding: 10px;
    margin-top: -40vh;
}